<div class="inside-body-content-container clearfix">
<div class="container-fluid horizontal-section-container clearfix">
    <div class="row">

      <div class="col-sm-3">

        <div id="sidebar-menu" class="section-container sm-extra-top-padding clearfix">

          <a href="#" class="section-header">
            <h5 class="text">Admin Dashboard</h5>
          </a>

          <div class="section-content clearfix">
            <ul class="sidebar-menu">
              <li class="menu-item">
                <a href="#individual-providers">individual providers</a>
              </li>
              <li class="menu-item">
                <a href="#programs">programs</a>
              </li>
              <li class="menu-item">
                <a href="#events">events</a>
              </li>
              <li class="menu-item">
                <a href="#mailingLists">mailing lists</a>
              </li>
              <li class="menu-item">
                <a href="#sliderDisplay">manage slider display</a>
              </li>
              <li class="menu-item">
                <a href="#ads">ads management</a>
              </li>
              <li class="menu-item">
                <a href="#adPacks">advertising packages</a>
              </li>
              <li class="menu-item">
                <a href="#memPacks">membership packages</a>
              </li>
              <li class="menu-item">
                <a href="#donPacks">donation packages</a>
              </li>
              <li class="menu-item">
                <a href="#socialLinks">social media links</a>
              </li>
              <li class="menu-item">
                <a href="#donations">donations</a>
              </li>
              <li class="menu-item">
                <a href="#trainingOpportunities">training opportunities</a>
              </li>
              <li class="menu-item">
                <a href="#attributes">attributes</a>
                <a href="#groups">support groups</a>
              </li>
              <li class="menu-item">
                <a href="#organizations">organizations</a>
              </li>
              <li class="menu-item">
                <a href="#groups">support groups</a>
              </li class=>
              <li class="menu-item">
                <a href="#organizations">organizations</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div id="main-page-content" class="section-container main-page-content clearfix"></div>
      </div>
    </div>
  </div>

</div>
<script>
  SessionStore.setCurrentUser('<%= raw j @serialized_user.to_json %>')
</script>
