<div>
  <div id='listDisplay' class='col-lg-pull-3'>
    <h3>yo yo yo</h3>

  </div>
  <div id='inspectDisplay' class='col-lg-push-9'>
    <h3>bow chicka bow bow</h3>
  </div>

</div>





<!--
<div class="inside-body-content-container clearfix">
  <h1>Welcome to the tree of mind yo!</h1>
</div> -->
<script>
  // SessionStore.setCurrentUser('<%= raw j @serialized_user.to_json %>')
</script>