<div class="inside-body-content-container ">

  <div class='row'>
    <div id='listDisplay' class='col-md-3'>
      <h3>yo yo yo</h3>

    </div>

    <div id='inspectDisplay'  class='col-md-6 blorkles'>
      <h3>bow chicka bow bow COW</h3>
    </div>

  </div>

</div>
<script>
  // SessionStore.setCurrentUser('<%= raw j @serialized_user.to_json %>')
</script>