<div class="container-fluid horizontal-section-container clearfix">
  <div class="row">
    <div class="col-sm-12">
      <div id="home-intro-paragraph" class="section-container featured-text clearfix">
        <h2>Welcome to the Evolutionary Tree of Mind Project</h2>

        <p>
          This project aims to bring to life the complex multidimensional scientific problem of consciousness as a biological phenomenon--when did it evolve, what animals have it, and what are the processes involved in its functioning?

        </p>
      </div>
    </div>
  </div>
</div>
