<div id="home-services" class="section-container clearfix">
  <div class="section-content">

    <!-- List -->
    <div class="thumbnail-list row clearfix">

      <!-- item -->
      <div class="item col-sm-6">
        <div class="thumbnail item-content">

          <div class="caption">
          <h5 class="title bold"><a href="#">Explore the Tree</a></h5>
            <p>The Support Groups section of our website is still under construction. In the meantime, if you would like to know what support groups are available through APTED and those support groups sponsored by the EDRC, you can download a listing of them here.</p>
          </div>
        </div><!-- .thumbnail -->
      </div><!-- .item -->

      <!-- item -->
      <div class="item col-sm-6">
        <div class="thumbnail item-content">
          <div class="caption">
          <h5 class="title bold"><a href="#publications">Search/Browse/Contribute Publication Database</a></h5>

          </div>
        </div><!-- .thumbnail -->
      </div><!-- .item -->

      <!-- item -->
      <!-- .item -->

    </div><!-- .thumbnail-list -->

  </div><!-- .section-content -->

</div>
