
.scrollyballz {
    height: 450px;
    border: solid 1px black;
    overflow: scroll;
    max-height: 80%;
}

.mainContainer{
  margin: 2%;
  /*max-width: 95%;*/
  /*border: solid 1px red;*/

}
.row {
  border: solid 1px black;
}