<div id="beneath-footer" class="center-container clearfix">

    <!-- left -->
    <div class="col-sm-6 beneath-footer-left">
      <div class="text">
       EvolutionaryTreeofMind Copyright &copy; 2014
     </div>
   </div>

   <!-- right -->
   <div class="col-sm-6 beneath-footer-right">
    <ul class="social-media-icons clearfix">
      <li><a href="#" target="_blank" title="Facebok"><i class="fa fa-facebook">F</i></a></li>
      <li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter">T</i></a></li>
      <li><a href="#" target="_blank" title="Google+"><i class="fa fa-google-plus">G+</i></a></li>
    </ul>
  </div>

</div>
<div id="go-to-top" onclick="scroll_to_top(this.event);" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></div>