<nav class='navbar navbar-default'>

  <div id='main-menu-container' class='container-fluid'>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Visualizations</a>
        </li>
        <li>
          <a href="#">About the project</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explore Content <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="publications">Publications</a></li>
            <li><a href="#">Taxa</a></li>
            <li><a href="#">Researchers</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">For Researchers</a></li>
        <li class="dropdown">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contribute <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Log Bibliographic Articles</a></li>
            <li><a href="#">Write Topic Article</a></li>
            <li><a href="#">Work on task queue</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>